*{
    box-sizing: border-box;
}

body{
    background-color:  hsl(217, 100%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-family: 'Ubuntu', sans-serif;

}

main{
    background-color: white;
    height: auto;
    margin-top: 150px;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    width: 900px;
}

.sidebar{
    width: 30%;
    border: 1px solid none;
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    height: 500px;
    width: 240px;
    background-size: contain;
    background-repeat: no-repeat;
    padding:20px 0;
    margin-right: 70px;
}
.num{
    border: 1px solid hsl(231, 100%, 99%);
    color: hsl(231, 100%, 99%);
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    padding-top: 3px;
}

.sections{
    display: flex;
    margin-left: 25px;
    gap: 10px;
}

.sections-elements{
    line-height: 1px;
    margin: 0;
    left: 0;
    padding-bottom: 10px;
}

.sections-elements h5{
    color: hsl(231, 100%, 99%);
    cursor: pointer;
}

.sections-elements p{
    color: hsl(231, 11%, 63%);
}

.f-area{
    margin-top: 30px;
}

.f-area h2{
    color:  hsl(213, 96%, 18%);
    line-height: 2px;
}

.personal-info{
    display: grid;
    row-gap: 9px;
    margin-top: 60px;
}

.personal-info input{
    width: 300px;
    border-radius: 7px; 
    height: 30px;
    border: 1px solid hsl(229, 24%, 87%);
}
.personal-info input:focus{
    border-color: none;
    outline: 2px solid hsl(243, 100%, 62%);
}

.f-area p{
    color:hsl(231, 11%, 63%);
}

.personal-info label{
    color:   hsl(213, 96%, 18%);
    font-size: 13px;
    font-weight: bold;
    line-height: 7px;
    margin-top: 10px;
}

.remove-selection-visibility{
   display: none; 
}
.add-selection-visibility{
   display: block; 

}
.remove-info-visibility{
   display: none; 
}
.add-info-visibility{
   display: block; 
}

.add-addon-visibility{
    display: block;
}
.remove-addon-visibility{
    display: none;
}

.personal-info-input {
    padding: 18px;
}

.plan-container{
    border: 1px solid hsl(229, 24%, 87%);
    width: 150px;
    height: 200px;
    margin-top: 10px;
    border-radius: 5px;
    margin-right: 10px;
    padding: 20px;
    cursor: pointer;
}

.plan-container:active{
    background-color: hsl(228, 100%, 84%);
}

.plan-container h3{
    margin-top: 70px;
    line-height: 1px;
    color: hsl(213, 96%, 18%);
}
.plan-container p{
    line-height: 1px;
    color: hsl(231, 11%, 63%);
}



.plan-containers{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.sub{
    background-color:   hsl(231, 100%, 99%);
    border: 1px solid none;
    margin-top: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px; 
    border-radius: 5px;
      
}

.sub p{
    margin-top: 6px;
}

.addon{
    border: 1px solid red;
}

.addon-card{
    display: flex;
    justify-content: space-between;
    border: 1px solid hsl(243, 100%, 62%);
    width: 453px;
    margin-top: 20px;
    height: 75px;
    padding: 0 20px;
    background-color: white;
    border-radius: 5px;
}

.addon-texts{
    line-height: 5px;
    text-align: left;
    margin-right: 90px;
}

.addon-texts h4{
    color: hsl(213, 96%, 18%);
    line-height: 2px;
}

.addon-texts p{
    color: hsl(231, 11%, 63%);
}

.checkBox:checked ~ .addon-card{
    /* background-color:  hsl(206, 94%, 87%); */
    background-color: red;
}

.cost-con{
    border: 1px solid black;
    width: 400px;
    height: 150px;
    border-radius: 5px;
    background-color: hsl(231, 100%, 99%);
    padding: 10px;
    margin-top: 40px;
}

.plan-info{
    display: flex;
    padding: 0 10px;
    max-height: 40px;
}

.plan-setting h5{
    line-height: 25px;
    margin: 0;
}

.plan-setting p{
    line-height: 0px;
    margin: 0;
}

.plan-setting{
    margin-right: auto;
}

.horizontal-line{
    margin: 0;
}

.addon-info{
    padding: 0px;
    line-height: 10px;
}

.addon-price{
    color: black;
    margin-left: auto;
}

.current-addon{
    display: flex;
    padding: 0;
    line-height: 0px;
    height: 30px;
    color: hsl(231, 11%, 63%);
}